{% load i18n %}


<!-- <div id="shadow-box-main"></div> -->

<button class="sticky closed-button" id="open-nav-sidebar-button" aria-label="{% translate 'Toggle navigation' %}">Menu</button>
<!-- <button class="sticky toggle-nav-sidebar" id="open-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}">Menu</button> -->
<nav class="sticky open" id="nav-sidebar">
  <button class="toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}">Close Menu</button>
  <input type="search" id="nav-filter"
         placeholder="{% translate 'Start typing to filter…' %}"
         aria-label="{% translate 'Filter navigation items' %}">
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
